.button {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: transparent;
    font-weight: bold;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.button:disabled {
    border: 2px solid rgb(158, 156, 156);
    cursor: not-allowed;
}
